@import url('/src/components/styles/indexCardComponent.css');

:root {
  --max-height: 450vh;
  --mobile-max-height: 800vh;

  --light-gray-border: rgb(134, 134, 134);
}

main {
  position: relative;
  overflow: hidden;
}

.main-wrap {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  max-height: var(--mobile-max-height);

  @media (min-width: 541px) {
    max-height: var(--max-height);
    flex-flow: row nowrap;
  }

  /* 브랜드 광고 (poster 포함) 섹션 ****************** */
  .brand-ad-section {
    width: 100%;
    position: relative;

    .next-btn-wrap {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-inline: 3.75rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 374px) {
        padding-inline: 1.875rem;
      }
    }

    @media (max-width: 540px) {
      .poster-wrap {
        padding-left: 1.25rem;
        display: flex;
        gap: 10px;
      }

      .poster {
        width: 95%;
        flex: 0 0 auto;

        img {
          border-radius: 0.3125rem;
        }
      }
    }

    @media (min-width: 541px) {
      padding-right: 1.9vw;
      width: 44%;

      .poster.mobile {
        display: none;
      }
      .next-btn-wrap {
        display: none;
      }
    }
  }

  /* 상품 섹션 ************************* */
  .products-section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: 541px) {
      width: 56%;
    }

    .product-card-wrap {
      display: flex;
      flex-flow: column wrap;
      align-items: start;
      align-content: start;
      max-height: var(--mobile-max-height);

      @media (min-width: 541px) {
        max-height: var(--max-height);
      }
    }

    .card-poster-wrap {
      display: none;
      @media (min-width: 541px) {
        display: flex;
        flex-flow: row nowrap;
      }

      .card-poster {
        width: 100%;
        font-size: 0;

        @media (min-width: 541px) {
          width: 50%;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
  .modal-content {
    color: #000;
  }
  .product-card,
  .brand-card,
  .products-carousel {
    border-left: solid 1px var(light-gray-border);
  }
  .product-card {
    .products-container {
      .product {
        border-top: solid 1px var(light-gray-border);
      }
    }
  }
}
