@import url('/src/components/styles/indexCardComponent.css');

main {
  position: relative;
  overflow: hidden;
}

.main-wrap {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  max-height: 400vh;
  overflow: hidden;

  @media (min-width: 33.8125rem) {
    flex-flow: row nowrap;
  }

  .brand-ad-section {
    width: 100%;

    @media (min-width: 33.8125rem) {
      padding-right: 1.9vw;
      width: 44%;
    }
  }

  .products-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: start;
    align-items: start;

    @media (min-width: 33.8125rem) {
      width: 56%;
    }

    .card-poster-wrap {
      display: flex;
      flex-flow: row nowrap;
    }
    .card-poster {
      width: 100%;
      font-size: 0;

      @media (min-width: 33.8125rem) {
        width: 50%;
      }
    }
  }
}
