@import url('/src/components/styles/indexWelcomingComponent.css');

section {
  width: 100%;
}

.key-visual-sec {
  position: relative;

  .title-texts-wrap {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

.coupon-sec {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  padding-inline: var(--brand-inline-padding);
  padding-block: var(--spacing-72);

  @media (min-width: 541px) {
    padding-inline: var(--brand-inline-padding-desk);
  }

  .mini-ad-wrap {
    width: 100%;
    padding-bottom: var(--spacing-40);
  }

  .coupon-btn-wrap {
    width: 50%;
    min-width: 200px;
  }
}

.brand-sec {
  padding-bottom: var(--spacing-60);

  @media (min-width: 541px) {
    padding-bottom: 80px;
  }

  .title-category {
    padding-top: var(--spacing-60);
    width: 100%;
    font-size: var(--text-60);
    text-align: center;

    @media (min-width: 541px) {
      font-size: var(--text-80);
      padding-top: var(--text-80);
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-color);
    color: var(--badge-text);
  }
  .coupon-sec {
    background: var(--black-black);
    color: var(--black-black);

    .mini-ad-card {
      background: var(--box-background);
    }
    .round {
      background: var(--black-black);
    }
  }
}
