@import url('/src/components/styles/indexBrandNewsComponents.css');

.brand-news-sec,
.product-sell-sec {
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);

  @media (min-width: 1024px) {
    padding-inline: 18%;
  }
}

.brand-news-sec {
  background: #f0f0f0;
  @media (max-width: 540px) {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-color);
    color: var(--box-text);
  }
  .brand-news-sec {
    background: var(--black-black);

    .sec-header {
      .brand-sale {
        border-color: var(--box-text);
      }
      .bar {
        color: var(--box-text);
      }
    }

    .brand-home-a {
      border-color: var(--box-text);
      path {
        stroke: var(--box-text);
      }
    }
    .brand-home-a:hover {
      background: var(--box-text);

      span {
        color: var(--background-color);
      }

      path {
        stroke: var(--background-color);
      }
    }
  }
}
