@import '/src/common/best-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';

:root {
  /* border */
  --border-color: rgba(0, 0, 0, 0.17); /* card 옆 border 컬러 */

  /* btn */
  --like-btn-color: #5d5d5da3;

  /* text */
  --text-title: var(--text-22);
  --text-normal: var(--text-15);
  --text-xs: var(--text-11);
  --text-s: var(--text-12);

  /* gap */
  --gap-5: 0.3125rem;
  --gap-10: 0.625rem;
}

/* hover 이펙트 *************** */
.poster img,
.brand img,
.product,
.carousel-product-card img {
  transition: all 0.4s;
}

@media (min-width: 541px) {
  .poster:hover {
    img {
      filter: brightness(0.75);
    }
  }
}

.brand:hover {
  img {
    filter: brightness(0.75);
  }
}
.product:hover {
  background: #ededed;
}

.carousel-product-card:hover {
  img {
    filter: brightness(0.75);
  }
}

/* 컴포넌트 컨테이너 디자인************** */
.components-container {
  /* margin: 100px; */
  margin-bottom: 100px;
  border: solid 2px black;
  border-radius: 5px;
  width: 100%;
}

/* 공통 CSS *********************** */
body {
  font-family: 'Pretendard Variable';
}

main {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.text-red {
  color: #ff4800;
}

/* poster 컴포넌트 디자인************** */
.poster {
  width: 100%;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    display: block;
  }
}

/* mobile poster에서 보이는
  텍스트, bar 컴포넌트  디자인************** */
.mobile-text-num-wrap {
  --margin-bottom-gap: 5%;
  --padding-inline: 2rem;
  --padding-inline-desk: 3.75rem;

  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 10%;
  padding-inline: var(--padding-inline-desk);

  @media (max-width: 374px) {
    padding-inline: var(--padding-inline);
    padding-bottom: 5%;
  }
  @media (min-width: 541px) {
    display: none;
  }

  /* mobile poster 텍스트 컴포넌트  디자인************** */
  .text-wrap {
    color: #fff;

    .title {
      font-size: 7.5vw;
      font-weight: 700;
      margin-bottom: var(--margin-bottom-gap);
    }
    .description {
      font-size: 3.8vw;
      font-weight: 500;
      margin-bottom: var(--margin-bottom-gap);
    }
  }

  /* mobile poster bar  디자인************** */
  .poster-num-bar {
    --gray-color: #a9a9a9;
    --mobile-poster-gap: var(--gap-5);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    width: 100%;

    .poster-num-wrap {
      font-size: 3vw;
      font-weight: 900;
      width: 10%;
      color: #fff;
      display: flex;
      flex-flow: row nowrap;
      gap: var(--mobile-poster-gap);

      .total-num {
        display: flex;
        flex-flow: row nowrap;
        color: var(--gray-color);
        gap: var(--mobile-poster-gap);
      }
    }
    .bar-track {
      width: 90%;
      height: 1px;
      background: var(--gray-color);

      .bar-thumb {
        width: 3%;
        height: 100%;
        background: #fff;
        opacity: 1;
      }
    }
  }
}

/* 상품 card(상품 포함), brand(상품 미포함) 카드 공통 디자인************** */
.product-card,
.brand-card {
  --padding-inline: 1.5rem;
  --padding-block: 2rem;

  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  border-left: solid 1px var(--border-color);

  @media (min-width: 541px) {
    width: 50%;
  }

  img {
    border-radius: 0.125rem;
  }
  .brand {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .title {
      font-size: var(--text-title);
      padding-top: 0.75rem;
      width: 100%;
    }
    .description {
      font-size: var(--text-normal);
      padding-top: var(--gap-10);
    }
  }
}

/* 상품 카드(상품 포함) 컴포넌트의
  상품 콘텐츠 디자인************** */
.product-card {
  .products-container {
    width: 100%;
    padding-top: 0.75rem;

    .product {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding-block: 10px;
      border-top: solid 1px var(--border-color);
    }
    .product a {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: var(--gap-10);
      flex-grow: 1;
      min-width: 0;

      img {
        width: 3.4375rem;
        aspect-ratio: 1 / 1;
      }

      .introduction-container {
        min-width: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.1875rem;

        .product-title {
          font-size: var(--text-xs);
          font-weight: 900;
        }
        .product-description {
          font-size: var(--text-s);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .product-price {
          font-size: var(--text-s);
          font-weight: 800;
        }
      }
    }
    .product .button-container {
      cursor: pointer;
      text-align: center;
      margin-left: var(--gap-10);

      .like-btn {
        cursor: pointer;
        background: none;
        border: none;
        img {
          width: 100%;
        }
      }
      .like-num {
        font-size: var(--text-s);
        font-weight: 500;
        color: var(--like-btn-color);
      }
    }
  }
}

/* carousel card 컴포넌트 디자인************** */
.products-carousel {
  --padding-inline: 1.5rem;
  --padding-block: 2.625rem;

  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  border-left: solid 1px var(--border-color);

  @media (min-width: 541px) {
    width: 50%;
  }

  img {
    border-radius: 0.125rem;
  }

  .title-btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .carousel-title {
      font-size: 1.25rem;

      @media (min-width: 541px) {
        font-size: 1.5rem;
      }
    }

    .button-wrap {
      display: none;
      gap: var(--gap-5);

      @media (min-width: 541px) {
        display: flex;
      }

      button {
        display: block;
      }
    }
  }

  .carousel {
    --gap: var(--gap-10);

    display: flex;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    gap: var(--gap);
    padding-bottom: (--gap);

    @media (min-width: 541px) {
      /* 스크롤바 숨기기 */
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .page {
    position: absolute;
    bottom: var(--padding-block);
    right: var(--padding-inline);
    font-size: var(--text-34);
    display: none;

    .current-num {
      position: relative;
      top: -0.625rem;
    }
    .total-num {
      margin-bottom: 0;
      color: #c4c4c4;
    }
  }
}

/* carousel 스크롤바 디자인************** */
.carousel::-webkit-scrollbar {
  width: 8px; /* 세로 스크롤바 너비 */
  height: 8px; /* 가로 스크롤바 높이 */
}

/* carousel 스크롤바 핸들 디자인************** */
.carousel::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 4px;
  border-radius: 5px;
}

/* 상품 이미지-좋아요 디자인 ***************** */
.product-img-wrap {
  position: relative;
  width: fit-content;

  .like-btn {
    position: absolute;
    display: block;
    bottom: var(--gap-5);
    right: var(--gap-5);
    width: 11%;

    img {
      width: 100%;
    }
  }
}

/* carousel 카드 속 상품 콘텐츠 디자인************** */
.carousel-product-card {
  --popularity-text-color: #979797;

  height: auto;
  min-width: 0;
  flex: 0 0 auto; /* flex-grow: 0, flex-shrink: 0, flex-basis: auto */
  width: 33%;

  .brand {
    font-size: var(--text-12);
    font-weight: 700;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;

    @media (min-width: 541px) {
      font-size: var(--text-14);
    }
  }
  .product-title {
    font-size: var(--text-12);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 16ch;
    max-width: 100%;
    @media (min-width: 541px) {
      font-size: var(--text-14);
    }
  }
  .product-price {
    font-size: var(--text-14);
    font-weight: 700;
    margin-block: 0.375rem;
    @media (min-width: 541px) {
      font-size: var(--text-16);
    }
  }

  .popularity-wrap {
    display: flex;
    gap: 0.1875rem;
    font-size: var(--text-11);
    color: var(--popularity-text-color);
  }
}

@media (min-width: 541px) {
  .carousel-product-card.show {
    width: 70%;
  }
  .carousel-product-card.show-next {
    width: 30%;
    mask-image: linear-gradient(
      to right,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0)
    );
    opacity: 0.5;

    .brand,
    .product-title {
      font-size: var(--text-11);
    }
    .product-price {
      font-size: var(--text-12);
    }

    .popularity-wrap p {
      font-size: 0.5625rem;
    }
  }

  .carousel-product-card.hidden {
    display: none;
  }

  .products-carousel .page {
    display: inline-flex;
  }
}

/* 더보기 | 흰 그라디언트 div 디자인 ********** */
.more-white-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;

  /* 흰 그라디언트 디자인 ************* */
  .white-background {
    translate: 0 5px;
    bottom: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, #ffffff00, #ffffffb6, #ffffff);
    display: flex;
    flex-flow: row nowrap;

    .one-box {
      width: 44%;
      border-bottom: solid 0.5px rgba(0, 0, 0, 0.115);
    }
    .two-box,
    .three-box {
      width: 28%;
      @media (min-width: 541px) {
        border-left: solid 0.5px rgba(0, 0, 0, 0.115);
        border-bottom: solid 0.5px rgba(0, 0, 0, 0.115);
      }
    }
  }

  /* 더보기 버튼 디자인 ***************** */
  .more-btn-container {
    width: 100%;
    padding-top: 2.4rem;
    padding-bottom: 1.875rem;
    bottom: 0;
    background: #ffffff;
    pointer-events: auto;

    .more-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--text-14);
      font-weight: 800;
      width: 10rem;
      padding-inline: 1.25rem;
      padding-block: 1rem;
      background: none;
      border: solid 1px var(--border-color);
      border-radius: 0.25rem;
      margin: auto;
      cursor: pointer;
    }
    .more-btn:hover {
      background: rgb(243, 243, 243);
    }
  }
}

/* 모달 기본 스타일 (로드되자마자 보이게 설정) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* 모달 내용 스타일 */
.modal-content {
  --line-height: 1.375rem;
  --mobile-line-height: 1rem;
  --spacing: 1.375rem;
  --mobile-spacing: 1rem;

  background: white;
  padding: 28px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  line-height: var(--mobile-line-height);

  @media (min-width: 768px) {
    line-height: var(--line-height);
    width: 55%;
  }

  @media (min-width: 1024px) {
    width: 36%;
  }

  hr {
    width: 70%;
    margin-top: var(--spacing);
    border: solid 1px var(--border-color);
    opacity: 0.5;
  }

  ul {
    list-style-position: inside;
    color: #979797;
  }

  .modal-title {
    font-size: clamp(20px, 3vw, 28px);
    font-weight: 700;
  }
  .modal-text,
  ul {
    font-size: clamp(12px, 1.6vw, 16px);
  }
  .modal-text.last,
  .modal-text.first {
    padding-block: var(--mobile-spacing);
  }
  ul {
    padding-top: var(--mobile-spacing);
  }

  @media (min-width: 541px) {
    .modal-text.last,
    .modal-text.first {
      padding-block: var(--spacing);
    }
    ul {
      padding-top: var(--spacing);
    }
  }
}

/* 닫기 버튼 스타일 */
.close {
  display: inline-block;
  padding: 0.875rem 0.75rem;
  width: 100%;
  background: #000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.close:hover {
  background: #3358ff;
}

/* 모달 숨기기 (닫기 버튼 클릭 시) */
#modal-checkbox {
  display: none;
}

#modal-checkbox:checked + .modal {
  display: none;
}
