@import '/src/common/best-reset.css';

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 컴포넌트  */
fieldset {
  img {
    width: 100%;
  }
  legend {
    text-align: center;
  }
  padding: 30px 10px;
  margin: 30px;

  .comp {
    left: 4%;
    bottom: -18px;
  }

  .balloon-black.comp {
    left: 20%;
  }
}

/* 카드 위치 */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 50px;
  column-gap: 20px;
  row-gap: 80px;
}
/* 카드 여백과 폰트 사이즈 */

figcaption {
  padding-bottom: 30px;
  .item-title {
    margin-top: 13px;
    font-size: 26px;
    font-weight: 800;
  }
  .item-description {
    margin-top: 8px;
    font-size: 15px;
  }
  .balloon-wrap {
    margin-top: 60px;
  }

  .progress-container {
    margin-top: 60px;
  }
  .item-period {
    margin-top: 16px;
    font-size: 15px;
    font-weight: 900;
  }

  .bar-black {
    margin-top: 60px;
  }
}

/* 회색 바 */
.progress-container {
  width: 100%;
  background-color: #eee;
  height: 2px;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0;
}

/* 주황색 바 -> 퍼센트에 따라 진행상태 바뀜*/
/* 클래스 두개주기 */
.progress-bar {
  width: 20%;
  height: 100%;
  background-color: #f4511e;
}
.bar-black {
  width: 100%;

  background-color: black;
  height: 2px;
  border-radius: 3px;
  margin: 30px 0;
}

/* 말풍선 -> 퍼센트에 따라 진행상태 바뀌고 주황 바랑 퍼센트 같게 */
/* 클래스 두개 주기 */

.balloon {
  position: absolute;
  bottom: 3px;
  left: 70%;
  transform: translateX(-50%);
  box-sizing: border-box;
  min-width: 48px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 800;
  line-height: 30px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background: rgb(255, 72, 0);
  transition: 0.4s;
  margin-bottom: 10px;
}

.balloon::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: 0px;
  border-width: 5px 5px 0px 0px;
  border-style: solid;
  border-top-color: rgb(255, 72, 0);
  border-right-color: transparent;
}

.balloon-wrap {
  display: block;
  position: relative;
}

/* 풍선 검은색 버젼 */
.balloon-black {
  position: absolute;
  bottom: 1px;
  left: 98%;
  transform: translateX(-50%);
  box-sizing: border-box;
  min-width: 48px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 800;
  line-height: 30px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background: black;
  transition: 0.4s;
  margin-bottom: 10px;
}

.balloon-black::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: 0px;
  border-width: 5px 5px 0px 0px;
  border-style: solid;
  border-top-color: black;
  border-right-color: transparent;
}

/* D-1 */

.d1 {
  left: 90%;
}

.d1-bar {
  width: 90%;
}

.d3-bar {
  width: 70%;
}
