<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/assets/favicon.svg" />
    <link
      rel="preload"
      as="font"
      href="/public/font/woff2/PretendardVariable.woff2"
    />
    <link rel="stylesheet" href="/public/font/pretendardvariable.css" />
    <link rel="stylesheet" href="./styles/indexCardComponent.css" />
  </head>
  <body>
    <main>
      <!-- poster 컴포넌트 -->
      <div class="components-container">
        <a href="/" class="poster">
          <img
            src="../assets/images/main-images/poster1.webp"
            alt="매주 금요일, 퀴즈 맞히고 선착순 선물 받아요 29금요 퀴즈런"
          />
        </a>
      </div>
      <!-- card 컴포넌트 -->
      <div class="components-container">
        <div class="product-card">
          <a class="brand" href="/">
            <img src="../assets/images/main-images/brand1-main.webp" alt="" />
            <h2 class="title">자정이면 종료되는 혜택</h2>
            <p class="description">
              벤앤쿠의 25SS 컬렉션은 섬세한 감성이 담긴 컬러와 디테일, 그리고
              부드러운 실루엣이 특징이에요.
            </p>
          </a>
          <div class="products-container">
            <div class="product">
              <a href="/">
                <img
                  src="../assets/images/main-images/brand1-product1.webp"
                  alt="[29CM단독] Silk Organza Aura Scarf - Pink Tangerine"
                />
                <div class="introduction-container">
                  <p class="product-title">벤앤쿠</p>
                  <p class="product-description">
                    [29CM단독] Silk Organza Aura Scarf - Pink Tangerine
                  </p>
                  <p class="product-price">
                    <span class="text-red">30%</span> 27,620
                  </p>
                </div>
              </a>
              <div class="button-container">
                <button class="like-btn">
                  <img
                    src="../assets/images/main-images/like-btn.svg"
                    alt="좋아요"
                  />
                </button>
                <p class="like-num">352</p>
              </div>
            </div>
            <div class="product">
              <a href="/">
                <img
                  src="../assets/images/main-images/brand1-product1.webp"
                  alt="[29CM단독] Silk Organza Aura Scarf - Pink Tangerine"
                />
                <div class="introduction-container">
                  <p class="product-title">벤앤쿠</p>
                  <p class="product-description">
                    [29CM단독] Silk Organza Aura Scarf - Pink Tangerine
                  </p>
                  <p class="product-price">
                    <span class="text-red">30%</span> 27,620
                  </p>
                </div>
              </a>
              <div class="button-container">
                <button class="like-btn">
                  <img
                    src="../assets/images/main-images/like-btn.svg"
                    alt="좋아요"
                  />
                </button>
                <p class="like-num">
                  <span class="sr-only">좋아요 개수</span>
                  352
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="more-white-container">
        <div class="white-background">
          <div class="one-box"></div>
          <div class="two-box"></div>
          <div class="three-box"></div>
        </div>
        <div class="more-btn-container">
          <button class="more-btn">
            <span>더보기</span>
            <img
              src="../assets/images/main-images/more-btn.svg"
              alt=""
              aria-hidden="true"
            />
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
