<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>29CM Magazine</title>
    <link rel="icon" href="/assets/favicon.svg" />
    <link
      rel="preload"
      as="font"
      href="/public/font/woff2/PretendardVariable.woff2"
    />
    <link rel="stylesheet" href="/public/font/pretendardvariable.css" />
    <link
      rel="stylesheet"
      href="/src/components/styles/indexBrandNewsComponents.css"
    />
  </head>
  <body>
    <h1>BRAND SALE</h1>
    <div class="components-container">
      <div class="sec-header">
        <span class="brand-sale">BRAND SALE</span>
        <ul>
          <li class="text-red">~5%</li>
          <li class="bar">|</li>
          <li>단독 할인</li>
        </ul>
      </div>
    </div>

    <h1>브랜드 텍스트 컴포넌트</h1>
    <div class="components-container">
      <div class="brand-text-wrap">
        <h1>화사한 봄맞이</h1>
        <p class="description">호와스의 두번째 스프링 컬렉션을 만나 보세요.</p>
        <p class="period">3. 20. Thu - 3. 26. Wed</p>
      </div>
    </div>

    <h1>브랜드 소개 컴포넌트</h1>
    <div class="components-container">
      <div class="brand-report-card">
        <h2 class="brand-en">HOWUS</h2>
        <p class="brand-kr">호와스</p>
        <p class="brand-report">
          호와스는 'House'와 'Woman'의 합성어로, 의미 있는 공존과 결합을
          추구합니다. 여성의 다양한 역할에 주목하고 그 삶에 어울리는 아이템을
          선사합니다.
        </p>
        <a href="/" class="brand-home-a">
          <span>브랜드 홈 바로가기</span>
          <svg
            width="20"
            height="6"
            viewBox="0 0 20 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0.125 5.17505H18.625L14.125 0.675049" stroke="black" />
          </svg>
        </a>
      </div>
    </div>

    <h1>브랜드 소개 카드 컴포넌트</h1>
    <div class="components-container">
      <div class="brand-news-card">
        <div class="sec-header">
          <span class="brand-sale">BRAND SALE</span>
          <ul>
            <li class="text-red">~5%</li>
            <li class="bar">|</li>
            <li>단독 할인</li>
          </ul>
        </div>

        <div class="brand-text-wrap">
          <h1>화사한 봄맞이</h1>
          <p class="description">
            호와스의 두번째 스프링 컬렉션을 만나 보세요.
          </p>
          <p class="period">3. 20. Thu - 3. 26. Wed</p>
        </div>

        <img
          src="/src/assets/images/main-images/brand-news/brand1-news-main.webp"
          alt=""
        />

        <div class="brand-report-card">
          <h2 class="brand-en">HOWUS</h2>
          <p class="brand-kr">호와스</p>
          <p class="brand-report">
            호와스는 'House'와 'Woman'의 합성어로, 의미 있는 공존과 결합을
            추구합니다. 여성의 다양한 역할에 주목하고 그 삶에 어울리는 아이템을
            선사합니다.
          </p>
          <a href="/" class="brand-home-a">
            <span>브랜드 홈 바로가기</span>
            <svg
              width="20"
              height="6"
              viewBox="0 0 20 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0.125 5.17505H18.625L14.125 0.675049" stroke="black" />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <h1>상품 카드 컴포넌트</h1>
    <div class="components-container">
      <a href="/" class="brand-product-card">
        <article>
          <div class="product-img-wrap">
            <img
              src="/src/assets/images/main-images/carousel1-product1.webp"
              alt="RIBBON ORGANZA SCRUNCHIE - 5 colors"
            />
          </div>
          <p class="brand">클로르</p>
          <p class="product-title">RIBBON ORGANZA SCRUNCHIE - 5 colors</p>
          <p class="product-price">
            <span class="sr-only">할인가</span>
            <span class="text-red">20%</span>
            <span class="sr-only">판매가</span>
            27,000
          </p>

          <div class="new-product">신상품</div>

          <div class="popularity-wrap">
            <div class="like-wrap">
              <svg
                width="15"
                height="14"
                viewBox="0 0 15 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.605 1.96888C1.93717 1.63059 2.33342 1.36188 2.77061 1.17845C3.20779 0.995018 3.67714 0.900543 4.15125 0.900543C4.62536 0.900543 5.09471 0.995018 5.5319 1.17845C5.96908 1.36188 6.36533 1.63059 6.6975 1.96888C7.0095 2.28463 7.2525 2.64463 7.42575 3.02863C7.59825 2.64463 7.8405 2.28463 8.15325 1.96888C8.48542 1.63059 8.88167 1.36188 9.31886 1.17845C9.75604 0.995018 10.2254 0.900543 10.6995 0.900543C11.1736 0.900543 11.643 0.995018 12.0801 1.17845C12.5173 1.36188 12.9136 1.63059 13.2458 1.96888C13.9218 2.65745 14.3006 3.58389 14.3006 4.54888C14.3006 5.51388 13.9218 6.44032 13.2458 7.12888L7.425 13.0246L1.605 7.12738L1.4805 6.99538C0.860307 6.29765 0.528189 5.39045 0.551301 4.4572C0.574413 3.52396 0.951029 2.63506 1.605 1.96888Z"
                  stroke="#5D5D5D"
                />
              </svg>
              <p class="like-num">
                <span class="sr-only">좋아요 개수</span> 44
              </p>
            </div>
            <div class="star-wrap">
              <svg
                width="15"
                height="16"
                viewBox="0 0 15 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.83383 5.53477L0.0499878 6.26516L3.51153 9.81324L2.6946 14.8232L6.97306 12.4579L11.2515 14.8232L10.4346 9.81324L13.8961 6.26516L9.1123 5.53477L6.97306 0.977081L4.83383 5.53477Z"
                  stroke="#5D5D5D"
                />
              </svg>
              <p class="star-num">
                <span class="sr-only">별점 및 리뷰 개수</span>
                <span class="text-red">0</span> (0)
              </p>
            </div>
          </div>
        </article>
      </a>
    </div>
  </body>
</html>
