<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>pt components</title>
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="preload"
      as="font"
      href="/public/font/woff2/PretendardVariable.woff2"
    />
    <link rel="stylesheet" href="/public/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/components/styles/ptComponent.css" />
  </head>
  <body>
    <!-- PT NAV  -->
    <fieldset>
      <legend>pt nav</legend>
      <div class="pt-nav-comp">
        <div class="pt-nav-wrap">
          <ul class="pt-nav">
            <li><a href="#">history</a></li>
            <li class="virtual"><a href="#">now</a></li>
            <li><a href="#">coming</a></li>
          </ul>
        </div>
      </div>
    </fieldset>

    <!-- comming soon  -->

    <fieldset>
      <legend>comming soon text</legend>
      <div class="future">coming soon</div>
    </fieldset>

    <!-- 더보기  -->

    <fieldset>
      <legend>더보기 버튼</legend>
      <div class="pt-button-wrap">
        <a href="" class="pt-button-more">더보기</a>
      </div>
    </fieldset>

    <!-- 조립 -->

    <!-- history -->

    <fieldset>
      <legend>HISOTRY</legend>
      <div class="pt-nav-wrap">
        <ul class="pt-nav">
          <li><a href="#">history</a></li>
          <li class="virtual"><a href="#">now</a></li>
          <li><a href="#">comming</a></li>
        </ul>
      </div>
    </fieldset>

    <!-- now , coming -->

    <fieldset>
      <legend>NOW , COMMING</legend>
      <div class="pt-nav-wrap">
        <ul class="pt-nav">
          <li><a href="#">history</a></li>
          <li class="virtual"><a href="#">now</a></li>
          <li><a href="#">coming</a></li>
        </ul>
        <p class="pt-future">coming soon</p>
      </div>
    </fieldset>
  </body>
</html>
