<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>29cm-showcase component</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link
      rel="stylesheet"
      href="/src/components/styles/showCaseComponent.css"
    />
  </head>
  <body>
    <!-- 상단 카드 -->
    <figure class="card">
      <img
        src="/src/assets/images/showcase-images/satur.webp"
        alt="세터 쇼케이스"
      />
      <figcaption class="card-text">
        <h3 class="head">당신의 행복한 토요일 세터</h3>
        <p class="event">~46%할인, 사진 후기 이벤트</p>
        <p class="time-frame">
          <time datetime="2025-03-14">2025.03.14.</time> ~
          <time datetime="2025-03-27"
            ><span class="sr-only">2025.</span>03.27.</time
          >
        </p>
      </figcaption>
    </figure>

    <!-- 상단의 카드 두개 -->
    <ul class="head-container">
      <li class="card-container">
        <figure class="card">
          <img
            src="/src/assets/images/showcase-images/satur.webp"
            alt="세터 쇼케이스"
          />
          <figcaption class="card-text">
            <h3 class="head">당신의 행복한 토요일 세터</h3>
            <p class="event">~46%할인, 사진 후기 이벤트</p>
            <p class="time-frame">
              <time datetime="2025-03-14">2025.03.14.</time> ~
              <time datetime="2025-03-27"
                ><span class="sr-only">2025.</span>03.27.</time
              >
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="card-container">
        <figure class="card">
          <img
            src="/src/assets/images/showcase-images/deinet.webp"
            alt="세터 쇼케이스"
          />
          <figcaption class="card-text">
            <h3 class="head">서로 다른 바코드처럼, 다이닛</h3>
            <p class="event">저마다의 고유한 아이덴티티가 궁금한 우리들</p>
            <p class="time-frame">
              <time datetime="2025-03-14">2025.03.14.</time> ~
              <time datetime="2025-03-27"
                ><span class="sr-only">2025.</span>03.27.</time
              >
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>

    <!-- 아래의 카드 영역  -->
    <ul class="body-container">
      <li class="card-container">
        <figure class="card">
          <img
            src="/src/assets/images/showcase-images/oimu.webp"
            alt="세터 쇼케이스"
          />
          <figcaption class="card-text">
            <h3 class="head">봄에 찾아온 이야기 오이뮤 x 폭싹 속았수다</h3>
            <p class="event">~46%할인, 사은품 증정 이벤트트</p>
            <p class="time-frame">
              <time datetime="2025-03-14">2025.03.14.</time> ~
              <time datetime="2025-03-27"
                ><span class="sr-only">2025.</span>03.27.</time
              >
            </p>
          </figcaption>
        </figure>
      </li>

      <li class="card-container">
        <figure class="card">
          <img
            src="/src/assets/images/showcase-images/momur.webp"
            alt="세터 쇼케이스"
          />
          <figcaption class="card-text">
            <h3 class="head">산뜻한 색으로 채우는 봄 모머위켄드</h3>
            <p class="event">~19%할인, 사진 후기 이벤트, 사은품 증정 이벤트</p>
            <p class="time-frame">
              <time datetime="2025-03-14">2025.03.14.</time> ~
              <time datetime="2025-03-27"
                ><span class="sr-only">2025.</span>03.27.</time
              >
            </p>
          </figcaption>
        </figure>
      </li>

      <li class="card-container">
        <figure class="card">
          <img
            src="/src/assets/images/showcase-images/247.webp"
            alt="세터 쇼케이스"
          />
          <figcaption class="card-text">
            <h3 class="head">편안함을 더한 에센셜 24/7 시리즈</h3>
            <p class="event">사진 후기 이벤트</p>
            <p class="time-frame">
              <time datetime="2025-03-14">2025.03.14.</time> ~
              <time datetime="2025-03-27"
                ><span class="sr-only">2025.</span>03.27.</time
              >
            </p>
          </figcaption>
        </figure>
      </li>

      <li class="card-container">
        <figure class="card">
          <img
            src="/src/assets/images/showcase-images/oimu.webp"
            alt="세터 쇼케이스"
          />
          <figcaption class="card-text">
            <h3 class="head">당신의 행복한 토요일 세터</h3>
            <p class="event">~46%할인, 사진 후기 이벤트</p>
            <p class="time-frame">
              <time datetime="2025-03-14">2025.03.14.</time> ~
              <time datetime="2025-03-27"
                ><span class="sr-only">2025.</span>03.27.</time
              >
            </p>
          </figcaption>
        </figure>
      </li>

      <li class="card-container">
        <figure class="card">
          <img
            src="/src/assets/images/showcase-images/momur.webp"
            alt="세터 쇼케이스"
          />
          <figcaption class="card-text">
            <h3 class="head">당신의 행복한 토요일 세터</h3>
            <p class="event">~46%할인, 사진 후기 이벤트</p>
            <p class="time-frame">
              <time datetime="2025-03-14">2025.03.14.</time> ~
              <time datetime="2025-03-27"
                ><span class="sr-only">2025.</span>03.27.</time
              >
            </p>
          </figcaption>
        </figure>
      </li>

      <li class="card-container">
        <figure class="card">
          <img
            src="/src/assets/images/showcase-images/247.webp"
            alt="세터 쇼케이스"
          />
          <figcaption class="card-text">
            <h3 class="head">당신의 행1412312312341412복한 토요일 세터</h3>
            <p class="event">~46%할인, 사진 후기 이벤트</p>
            <p class="time-frame">
              <time datetime="2025-03-14">2025.03.14.</time> ~
              <time datetime="2025-03-27"
                ><span class="sr-only">2025.</span>03.27.</time
              >
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </body>
</html>
