<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>specialOrder 컴포넌트</title>
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="preload"
      as="font"
      href="/public/font/woff2/PretendardVariable.woff2"
    />
    <link rel="stylesheet" href="/public/font/pretendardvariable.css" />
    <link
      rel="stylesheet"
      href="/src/components/styles/specialOrderComponent.css"
    />
  </head>
  <body>
    <!-- 소개 컴포넌트 -->
    <fieldset>
      <legend>페이지 소개 컴포넌트</legend>
      <div>
        <h3>31CM에서만 만나볼 수 있는 제품을 합리적인 가격으로 소개합니다.</h3>
      </div>
    </fieldset>

    <!-- 말풍선 컴포넌트 -->
    <fieldset>
      <legend>말풍선</legend>
      <div class="balloon-set">
        <div class="balloon-wrap">
          <div class="balloon comp">D-1</div>
        </div>
        <div class="balloon-wrap">
          <div class="balloon-black comp">D-Day</div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>퍼센트 바</legend>
      <div class="progress-container">
        <div class="progress-bar"></div>
      </div>
      <div class="bar-black"></div>
    </fieldset>

    <fieldset>
      <legend>일반 카드 컴포넌트</legend>
      <div>
        <ul>
          <li>
            <figure>
              <img
                src="/src/assets/images/specialorder-images/specialOrder-01.webp"
                alt="Roughside 5% 할인"
              />
              <figcaption>
                <h4 class="item-title">상품 제목</h4>
                <p class="item-description">상품 내용 자리입니다.</p>
                <div class="progress-container">
                  <div class="progress-bar"></div>
                </div>

                <p class="item-period">
                  <time datetime="2025-03-12">2025.03.12</time>.~
                  <time datetime="2025-03-25"
                    ><span class="sr-only">2025.</span>03.25</time
                  >.
                </p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </fieldset>

    <fieldset>
      <legend>D-3 컴포넌트</legend>
      <div>
        <ul>
          <li>
            <figure>
              <img
                src="/src/assets/images/specialorder-images/specialOrder-01.webp"
                alt="Roughside 5% 할인"
              />
              <figcaption>
                <h4 class="item-title">상품 제목</h4>
                <p class="item-description">상품 내용 자리입니다.</p>
                <div class="balloon-wrap">
                  <div class="balloon m-d3">D-3</div>
                </div>
                <div class="progress-container">
                  <div class="progress-bar d3-bar"></div>
                </div>

                <p class="item-period">
                  <time datetime="2025-03-12">2025.03.12</time>.~
                  <time datetime="2025-03-25"
                    ><span class="sr-only">2025.</span>03.25</time
                  >.
                </p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </fieldset>

    <fieldset>
      <legend>D-Day 컴포넌트</legend>
      <div>
        <ul>
          <li>
            <figure>
              <img
                src="/src/assets/images/specialorder-images/specialOrder-01.webp"
                alt="Roughside 5% 할인"
              />
              <figcaption>
                <h4 class="item-title">상품 제목</h4>
                <p class="item-description">상품 내용 자리입니다.</p>
                <div class="balloon-wrap">
                  <div class="balloon-black">D-Day</div>
                </div>
                <div class="bar-black"></div>
                <p class="item-period">
                  <time datetime="2025-03-12">2025.03.12</time>.~
                  <time datetime="2025-03-25"
                    ><span class="sr-only">2025.</span>03.25</time
                  >.
                </p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </fieldset>
  </body>
</html>
